@import './theme.css';

.app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

.app__container--login {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid green;
  border-radius: 5px;
  padding: 3rem;
}

.app__container--login_title {
  align-self: center;
  font-family: var(--font-family);
}

.app__container--login_username {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-family);
  padding: 0.5rem;
}

.app__container--login_username > input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app__container--login_username > select {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errors {
  position: relative;
  color: red;
  font-family: var(--font-family);
}

.errors:hover {
  cursor: pointer;
}

.register__span {
  cursor: pointer;
  color: green;
  font-weight: bold;
}

.form__button {
  padding: 0.5rem;
  width: 50%;
  align-self: center;
  margin-top: 1rem;
  background-color: white;
  font-family: var(--font-family);
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(104, 195, 163, 1);
}

.back__icon {
  cursor: pointer;
}
.back__icon:hover {
  color: green;
}
